body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.app-title {
  font-size: 3em;
  color: #00aaff; /* Azul eléctrico */
  margin-top: 50px;
}

#auth-section {
  margin-top: 30px;
}

#main-section {
  margin-top: 40px;
}

input {
  margin: 5px;
  padding: 8px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}